<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Hash (Hashing)</h1>
                <h2 class="subtitle">Create MD5, SHA1, SHA256, SHA224, SHA512, SHA384, SHA3, RIPEMD160 hashes</h2>
                <hr>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <h4 class="title is-4">Generate Hash</h4>
                <mat-card>
                    <mat-card-content>
                        <form class="material-form" [formGroup]="hashForm" (ngSubmit)="onSubmit(hashForm.value)">
                            <mat-form-field class="material-full-width">
                                <mat-label>Plain Text</mat-label>
                                <textarea matInput placeholder="Plan Text" formControlName="plainText"></textarea>
                            </mat-form-field>
                            <mat-form-field class="material-full-width">
                                <mat-label>Hash Method</mat-label>
                                <mat-select formControlName="digestMethod">
                                    <mat-option>-- Select Hash Method --</mat-option>
                                    <mat-option *ngFor="let hash of hashes" [value]="hash">
                                        {{hash}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="material-full-width">
                                <mat-label>Encoding Method</mat-label>
                                <mat-select formControlName="encodingType">
                                    <mat-option>-- Select Encoding --</mat-option>
                                    <mat-option *ngFor="let encoding of encodings" [value]="encoding">
                                        {{encoding}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-raised-button color="primary" type="submit"
                                [disabled]="hashForm.invalid">Generate Hash!</button>
                        </form>

                        <br>
                        <pre>
                            <code>
                                {{ hashText }}
                            </code>
                        </pre>

                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="column">
                <h4 class="title is-4">About Hashing</h4>
                <p>Hash is an irreversible function which generate unique value for each input. But same generate for
                    the same input will be same. So, hash plays major role in the security i.e storing the passwords or
                    any other keys. Even though the hash is irreversible, it can be used to compare the same. The output
                    will be same if you generate hash for any times.</p>

                <br>

                <h5 class="title is-5">Example</h5>

                Plain text
                <pre>
                    www.epix.io
                </pre>

                Hash text
                <pre>
                    sRcU5S6+Uyfcnv4LhSIOzw==
                </pre>
            </div>
        </div>
    </div>
</section>