<div class="columns">
    <div class="column">
        <mat-card>
            <mat-card-content>
                <form class="material-form" [formGroup]="hashForm" (ngSubmit)="onSubmit(hashForm.value)">
                    <mat-form-field class="material-full-width">
                        <mat-label>Plain Text</mat-label>
                        <textarea matInput placeholder="Plan Text" formControlName="plainText"></textarea>
                    </mat-form-field>
                    <mat-form-field class="material-full-width">
                        <mat-label>Hash Method</mat-label>
                        <mat-select formControlName="digestMethod">
                            <mat-option>-- Select Hash Method --</mat-option>
                            <mat-option *ngFor="let hash of hashes" [value]="hash">
                                {{hash}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="material-full-width">
                        <mat-label>Encoding Method</mat-label>
                        <mat-select formControlName="encodingType">
                            <mat-option>-- Select Encoding --</mat-option>
                            <mat-option *ngFor="let encoding of encodings" [value]="encoding">
                                {{encoding}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="material-full-width">
                        <textarea matInput placeholder="Hashed Text" formControlName="hashText"
                            readonly="readonly"></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Generate Hash!</button>
                </form>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="column">
        hi
    </div>
</div>