<div class="columns">
    <div class="column">
        <h1 class="title">Password Generator</h1>
        <h2 class="subtitle">Generate Strong Password</h2>
        <hr>
    </div>
</div>

<div class="columns">
    <div class="column">
        <h4 class="title is-4">Generate Hash</h4>
        <mat-card>
            <mat-card-content>
                <form class="material-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
                    
                    <!-- password length -->
                    <mat-form-field>
                        <mat-label>Favorite food</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let len of passwordLength" [value]="len">
                            {{ len }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    <mat-form-field>
                        <mat-label>Hash Method</mat-label>
                        <mat-checkbox>Check me!</mat-checkbox>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Hash Method</mat-label>
                        <mat-checkbox>Check me!</mat-checkbox>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Generate Hash!</button>
                </form>

                <br>
                <pre>
                    <code>
                        {{ generatedPassword }}
                    </code>
                </pre>
                
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="column">
        <h4 class="title is-4">About Hashing</h4>
        <p>Hash is an irreversible function which generate unique value for each input. But same generate for the same input will be same. So, hash plays major role in the security i.e storing the passwords or any other keys. Even though the hash is irreversible, it can be used to compare the same. The output will be same if you generate hash for any times.</p>

        <br>

        <h5 class="title is-5">Example</h5>

        Plain text
        <pre>
            www.epix.io
        </pre>

        Hash text
        <pre>
            sRcU5S6+Uyfcnv4LhSIOzw==
        </pre>
    </div>
</div>