<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Password Generator</h1>
                <h2 class="subtitle">Generate Strong Password</h2>
                <hr>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-content>
                        <form class="material-form" [formGroup]="passwordForm">

                            <!-- password length -->

                            <div class="form-section-group">
                                <mat-label>Password Length - {{ passwordForm.value.length }} </mat-label>
                                <mat-slider formControlName="length" min="1" max="128" step="1" value="10" thumbLabel
                                    thumbLabel="1" class="material-full-width"></mat-slider>
                            </div>

                            <div class="form-section-group">
                                <mat-checkbox readonly selected="selected"> Lowercase Characters
                                    (abcdefghijklmnopqrstuvwxyz)</mat-checkbox>
                            </div>

                            <div class="form-section-group">
                                <mat-checkbox formControlName="upperCase"> Uppercase Characters
                                    (ABCDEFGHIJKLMNOPQRSTUVWXYZ')</mat-checkbox>
                            </div>

                            <div class="form-section-group">
                                <mat-checkbox formControlName="numeric"> Numeric (0123456789)</mat-checkbox>
                            </div>

                            <div class="form-section-group">
                                <mat-checkbox formControlName="specialCharacter"> Special Characters
                                    (~!@#$%^&()_+-=[];\',.)</mat-checkbox>
                            </div>

                            <div class="form-section-group">
                                <mat-checkbox formControlName="allCombination"> All Combinations</mat-checkbox>
                            </div>

                            <div class="form-section-group">
                                <mat-checkbox formControlName="excludeSimilarCharacters"> Exclude Similar Character -
                                    example 'ii' and 'll'. </mat-checkbox>
                            </div>

                            <div class="form-section-group">
                                <mat-form-field class="material-full-width">
                                    <mat-label>Exclude String or Character </mat-label>
                                    <input matInput formControlName="exclude">
                                </mat-form-field>
                            </div>

                        </form>

                        <br>
                        <pre>
                            <code>
                                {{ generatedPassword }}
                            </code>
                        </pre>

                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="column">
                <h4 class="title is-4">About Password</h4>
                <p>
                    Generates radom combination of character, number, alphanumeric and special characters. Generates
                    cryptographically strong pseudo-random data.
                </p>

            </div>
        </div>
    </div>
</section>