<section class="hero is-dark is-bold is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Welcome to epix.
            </h1>
            <h2 class="subtitle">
                All Service. One Place. Free. Open Source.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <!-- row 1 -->
        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            HTTP Services
                        </mat-card-title>
                        <span class="material-icons margin-right-zero has-text-primary">https</span>
                    </mat-card-header>
                    <mat-card-content>
                        All possible fake/mock http rest response & All HTTP status codes information from 100, 200, 300, 400 and 500 series.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Finance Calculator
                        </mat-card-title>
                        <span class="material-icons margin-right-zero has-text-primary">assessment</span>
                    </mat-card-header>
                    <mat-card-content>
                        Loan EMI Calculate - calculate all your personal, business, home and car loans, Compare Loans and SIP investment calculation.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Cryptographic Functions
                        </mat-card-title>
                        <span class="material-icons margin-right-zero has-text-primary">security</span>
                    </mat-card-header>
                    <mat-card-content>
                        Create/Compute a hash from any of the hash algorithm such as MD5, SHA128, SHA256 and Dynamic password generator etc.
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <!-- row 2 -->
        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            SEO Tools
                        </mat-card-title>
                        <span class="material-icons margin-right-zero has-text-primary">search</span>
                    </mat-card-header>
                    <mat-card-content>
                        Plagiarism Checker, Google rank checker, Website Worth Calculator, Alexa Rank and so on which help to improve the website.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Website Tools
                        </mat-card-title>
                        <span class="material-icons margin-right-zero has-text-primary">web</span>
                    </mat-card-header>
                    <mat-card-content>
                        Sitemap generation and submission to different search engine, Robots.txt generator, website responsiveness testing and more features.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Unit Converter
                        </mat-card-title>
                        <span class="material-icons margin-right-zero has-text-primary">square_foot</span>
                    </mat-card-header>
                    <mat-card-content>
                        Service to convert the length, weight, volume, area, temperature, electric current, speed, angle, bytes/bits, energy, force, fuel and more.
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <!-- row 3 -->
        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Code Convertor
                        </mat-card-title>
                        <span class="material-icons margin-right-zero has-text-primary">code</span>
                    </mat-card-header>
                    <mat-card-content>
                        Convert your code from one format to another format. i.e XML to JSON, JSON to XML etc.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
    </div>
</section>

<section class="hero is-dark is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Open Source
            </p>
            <p class="subtitle">
                All our services are free and open source, you can find our source code in
                <a href="https://github.com/Aravin/epix.io" target="_blank" class="button is-outlined is-small is-light">github</a>
            </p>
        </div>
    </div>
</section>