<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" >
    <a class="navbar-item" href="/">
      <!-- <img src="" width="112" height="28"> -->
      <span style="font-weight: 900; font-size: x-large;">🌐 epix.io</span>
    </a>

    <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">

      <a class="navbar-item" href="apps">
        📱 Applications
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          ✍ Services
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="crypto/hash">
            Hashing
          </a>
          <a class="navbar-item" href="crypto/password-generator">
            Password Generator
          </a>
          <a class="navbar-item" href="sip-calculator">
            SIP Calculator
          </a>
          <a class="navbar-item" href="emi-calculator">
            EMI Calculator
          </a>
          <a class="navbar-item" href="http/mock-rest-response">
            HTTP - Mock Response
          </a>
          <a class="navbar-item" href="http/status-codes">
            HTTP - Status Codes
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            T&C
          </a>
          <a class="navbar-item">
            Privacy
          </a>
          <a class="navbar-item">
            About us
          </a>
          <!-- <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a> -->
        </div>
      </div>

    </div>
  </div>
</nav>


<section class="section">
  <div class="container">  
    <ng-content>
    </ng-content>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>epix.io</strong> by <a href="https://www.aravin.net">Aravind Appadurai</a>. All rights reserved.
    </p>
  </div>
</footer>
