<section class="section">
    <div class="container">
        <!-- page heading -->
        <div class="columns">
            <div class="column">
                <h1 class="title">Application</h1>
                <h2 class="subtitle">Android Mobile Application</h2>
                <hr>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="warranty-header-image"></div>
                        <mat-card-title>
                            Warranty Manager
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        This is an application to Manage all your product's warranty and related information. This application will be useful to save, find and track all your household, personal or business assets with their purchase date, warranty period, bills so on.
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://play.google.com/store/apps/details?id=io.epix.warranty_manager" target="_blank"
                            mat-button>Download Now</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="loan-header-image"></div>
                        <mat-card-title>
                            Loan & Lending Manager
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        This is a Free and Open Source application used to manage Loan and Lending of Money for Personal or Business Purpose. All the data are synced across the cloud, even if you change your device you can get all your data in new device.
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://play.google.com/store/apps/details?id=io.epix.loan_manager" target="_blank"
                            mat-button>Download Now</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="emi-header-image"></div>
                        <mat-card-title>
                            EMI Calculator
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        This loan EMI calculator app simplies your EMI calculation and full break up of payment
                        reschedule. The application not only displays the EMI amount, it will also display information
                        such monthly interest paid, monthly principal paid and monthly percentage paid. It will also
                        display payment schedule during the tenture in the tabular representation.
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://play.google.com/store/apps/developer?id=Aravin" target="_blank"
                            mat-button>Download Now</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="sip-header-image"></div>
                        <mat-card-title>
                            SIP Calculator
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        SIP Calculator - Calculate the monthly saving and return. Supports weekly, monthly, quarterly
                        and yearly calculation of mutual fund investment and also as lumpsum amount. The breakdown will
                        be shown as chart for better understanding. This is an free, open source, accurate SIP calculator. You can calculate your monthly SIP, Quarterly SIP, Yearly SIP with expected returns.
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://play.google.com/store/apps/details?id=io.epix.sip" target="_blank"
                            mat-button>Download Now</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="whatsis-header-image"></div>
                        <mat-card-title>
                            WhatsIs
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Send WhatsApp Message without Contact. whatsis - Dictionary definition and meaning for word
                        whatsis. (noun) something unspecified whose name is either forgotten or not known. This
                        application is designed to bring ability to anyone to send a message through WhatsApp
                        application without saving the phone number in the contact. This application will save your lot
                        of time.
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://play.google.com/store/apps/details?id=io.epix.emi" target="_blank"
                            mat-button>Download Now</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="trai-header-image"></div>
                        <mat-card-title>
                            Latest TRAI Channel Pricing
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        The Telecom Regulatory Authority of India has issued new Regulations which are applicable to all
                        cable & DTH operators. Under these new regulations, the Broadcasters have to declare the rates
                        of their channels which are available on their respective website. Effective 29th Dec, you will
                        be able to choose and pay for your TV channels as per rates declared by the broadcaster.
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://play.google.com/store/apps/details?id=io.epix.sip" target="_blank"
                            mat-button>Download Now</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>        

        <div class="columns">
            <div class="column">
                All our applications are open source. Find our other applications here: <a target="_blank"
                    href="https://play.google.com/store/apps/developer?id=epix.io">https://play.google.com/store/apps/developer?id=epix.io</a>
            </div>
        </div>
    </div>
</section>